<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

<display-name>Flight Reservations</display-name>
	<welcome-file-list>
	  <welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	  
	<servlet>
    	<servlet-name>LogonServlet</servlet-name>
    	<servlet-class>edu.rutgers.cs539.LogonForm</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>LogonServlet</servlet-name>
    	<url-pattern>/Logon</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>RegisterServlet</servlet-name>
    	<servlet-class>edu.rutgers.cs539.RegisterForm</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>RegisterServlet</servlet-name>
    	<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>MyAccountServlet</servlet-name>
    	<servlet-class>edu.rutgers.cs539.MyAccountForm</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>MyAccountServlet</servlet-name>
    	<url-pattern>/MyAccountDetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>BookTravelServlet</servlet-name>
    	<servlet-class>edu.rutgers.cs539.BookYourTravel</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>BookTravelServlet</servlet-name>
    	<url-pattern>/BookTravel</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>FlightsReservationServlet</servlet-name>
    	<servlet-class>edu.rutgers.cs539.FlightsReservation</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>FlightsReservationServlet</servlet-name>
    	<url-pattern>/FlightsReservation</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>EditCustomerServlet</servlet-name>
    	<servlet-class>edu.rutgers.cs539.EditCustomer</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>EditCustomerServlet</servlet-name>
    	<url-pattern>/manager/EditCustomer</url-pattern>
	</servlet-mapping>
	
		
	
	
	<servlet>
    	<servlet-name>MyAccountJSP</servlet-name>
    	<jsp-file>/myAccount.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>MyAccountJSP</servlet-name>
    	<url-pattern>/myAccount</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>BookYourTravelJSP</servlet-name>
    	<jsp-file>/bookYourTravel.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>BookYourTravelJSP</servlet-name>
    	<url-pattern>/bookYourTravel</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>MyBookingsJSP</servlet-name>
    	<jsp-file>/myBookings.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>MyBookingsJSP</servlet-name>
    	<url-pattern>/myBookings</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>ViewFlightsJSP</servlet-name>
    	<jsp-file>/viewFlights.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>ViewFlightsJSP</servlet-name>
    	<url-pattern>/viewFlights</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>MyCartJSP</servlet-name>
    	<jsp-file>/myCart.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>MyCartJSP</servlet-name>
    	<url-pattern>/myCart</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>ViewCustomersJSP</servlet-name>
    	<jsp-file>/Manager/viewCustomers.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>ViewCustomersJSP</servlet-name>
    	<url-pattern>/manager/viewCustomers</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>EditCustomerJSP</servlet-name>
    	<jsp-file>/Manager/editCustomer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>EditCustomerJSP</servlet-name>
    	<url-pattern>/manager/editCustomer</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>ViewFlightListJSP</servlet-name>
    	<jsp-file>/Manager/viewFlightList.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>ViewFlightListJSP</servlet-name>
    	<url-pattern>/manager/viewFlightList</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>GetReportJSP</servlet-name>
    	<jsp-file>/Manager/getReport.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>GetReportJSP</servlet-name>
    	<url-pattern>/manager/getReport</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>AddCustomerJSP</servlet-name>
    	<jsp-file>/Manager/addCustomer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>AddCustomerJSP</servlet-name>
    	<url-pattern>/manager/addCustomer</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>FilterFlightsJSP</servlet-name>
    	<jsp-file>/Manager/filterFlights.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>FilterFlightsJSP</servlet-name>
    	<url-pattern>/manager/filterFlights</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>FilterReservationsJSP</servlet-name>
    	<jsp-file>/Manager/filterReservations.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>FilterReservationsJSP</servlet-name>
    	<url-pattern>/manager/filterReservations</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>FilterCustomersJSP</servlet-name>
    	<jsp-file>/Manager/filterCustomers.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>FilterCustomersJSP</servlet-name>
    	<url-pattern>/manager/filterCustomers</url-pattern>
	</servlet-mapping>
	
</web-app> 